:root {
    --main-text-color: #555555;
    --black-text-color: #303030;
    --white-text-color: #FFFFFF;
    --grey-text-color: #9DA4BD;
    --light-grey-rgba: #9DA4BD99;
    --accent-text-color: #FF6C00;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F7F7F7;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

/*common*/
p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.header {
    padding-top: 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 70px;
}

.nav-list {
    display: flex;
    color: var(--white-text-color);
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}


.header-link{
    margin-left: auto;
    margin-right: 40px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-text-color);
}

.title {
    font-family: 'raleway', sans-serif;;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--black-text-color);
}


.btn {
    min-width: 160px;
    padding: 12px 16px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white-text-color);
    background: inherit;
    border: 1px solid #FF6C00;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: #FF6C00;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  } 
  

.btn-black-text{
    color: var(--black-text-color);
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.title-head{
    margin-bottom: 40px;

    font-size: 72px;
    line-height: 1.18;
}

.title {
    margin-bottom: 20px;
}

.title-white {
    margin-bottom: 44px;

    color: var(--white-text-color);
}

.hero .subtitle-grey {
    margin-bottom: 30px;
}

/*ФОН ЧТОБ ВИДЕТЬ БЕЛІЕ БУКВІ*/
.background{
    background-color: lightgrey;
}

.subtitle {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--black-text-color);
}

.subtitle-grey{
    color: var(--light-grey-rgba);
}

.subtitle-white {
    color: var(--white-text-color);
}

.text-grey {
    color: var(--grey-text-color);
}

.networks {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--black-text-color);
}

.networks:hover,
.networks:focus {
    color: var(--accent-text-color);
}

/*about*/

.about-text {
    margin-top: 20px;
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.86;
}

.about-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.about-item {
    margin-top: 30px;
    margin-left: 30px;
}

.statistics-bold-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--black-text-color);
}

.statistics-accent-text {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
}

.prices-text{
    margin-bottom: 20px;
}

/*Masters*/
.masters-text-color {
    font-size: 14px;
    line-height: 1.36;
    color: var(--accent-text-color);
}

.masters .title{
    margin-bottom: 44px;
}

.masters-list {
    display: flex;
    flex-direction: row;
    margin-top: -30px;
    margin-left: -30px;
}

.masters-item{
    margin-top: 30px;
    margin-left: 30px;
}

.masters-wrapper {
    padding-top: 30px;
    text-align: center;
}

.masters-name {
    margin-bottom: 8px;
}



.gallery-subtitle {
    margin-bottom: 44px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.gallery-item {
    margin-top: 30px;
    margin-left: 30px;
}

.address {
    font-style: inherit;
}

.mail-link {
    text-decoration: underline;
}

.mnemonics {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}



.footer-container {
    padding-top: 55px;
    padding-bottom: 55px;
}